* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

nav menu {
  width: 100%;
  margin: 0;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 1rem;
}

nav a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.icon {
  margin: 0 5px;
}

.img-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.img-container:hover img {
  -webkit-filter: blur(4px) brightness(90%);
          filter: blur(4px) brightness(90%);
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
  padding: .2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-overlay p {
  color: white;
  font-size: .9rem;
}

.container {
  width: 1024px;
  margin: auto;
  padding: 0 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner {
  height: 600px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 10rem;
}

.overlay .content .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay .content .input-group input[type=text] {
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: none;
  height: 50px;
  font-size: 1.3rem;
  padding: 10px;
}

.overlay .content .input-group input[type=text]::-webkit-input-placeholder {
  font-size: 1.3rem;
  padding-left: .1rem;
}

.overlay .content .input-group input[type=text]:-ms-input-placeholder {
  font-size: 1.3rem;
  padding-left: .1rem;
}

.overlay .content .input-group input[type=text]::-ms-input-placeholder {
  font-size: 1.3rem;
  padding-left: .1rem;
}

.overlay .content .input-group input[type=text]::placeholder {
  font-size: 1.3rem;
  padding-left: .1rem;
}

.overlay .content .input-group button[type=submit] {
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.overlay .content .button-row {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay .content .button-row button {
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 5px;
  padding: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  border-color: white;
  border-width: thin;
}

.overlay .content .button-row button:hover {
  background-color: white;
  color: black;
}

img {
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.gallery .img-square {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 768px) {
  .gallery {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .container {
    width: 100%;
  }
  .banner {
    height: 400px;
  }
  .overlay .content {
    padding: 2rem;
  }
  .overlay .content h1 {
    font-size: 2rem;
  }
  .overlay .content input[type=text] {
    width: 100%;
    height: 30px;
    font-size: 1rem;
    padding-left: .5rem;
  }
  .overlay .content input[type=text]::-webkit-input-placeholder {
    font-size: 1rem;
    padding-left: 0;
  }
  .overlay .content input[type=text]:-ms-input-placeholder {
    font-size: 1rem;
    padding-left: 0;
  }
  .overlay .content input[type=text]::-ms-input-placeholder {
    font-size: 1rem;
    padding-left: 0;
  }
  .overlay .content input[type=text]::placeholder {
    font-size: 1rem;
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .overlay .content {
    padding: 4rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*# sourceMappingURL=App.css.map */