* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: auto;
  padding: 0 1.5rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner {
  height: 600px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 10rem;
}

.overlay .content input[type=text] {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 40px;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.overlay .content input[type=text]::-webkit-input-placeholder {
  font-size: 1.3rem;
  padding-left: .2rem;
}

.overlay .content input[type=text]:-ms-input-placeholder {
  font-size: 1.3rem;
  padding-left: .2rem;
}

.overlay .content input[type=text]::-ms-input-placeholder {
  font-size: 1.3rem;
  padding-left: .2rem;
}

.overlay .content input[type=text]::placeholder {
  font-size: 1.3rem;
  padding-left: .2rem;
}

.overlay .content .button-row {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay .content .button-row button {
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  border-color: white;
  border-width: thin;
}

.overlay .content .button-row button:hover {
  background-color: white;
  color: black;
}

img {
  border-radius: 10px;
  max-width: 100%;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.gallery {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.gallery .img-square {
  margin-top: 10px;
  padding-top: 0;
  margin-bottom: 0px;
  padding-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .gallery {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*# sourceMappingURL=App.css.map */