.App {
  // text-align: center;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: auto;
  padding: 0 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner {
  height: 80vh;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.3);
  .content {
    padding: 5rem;
    h1 {
    
    }
    input[type=text] {
      width: 100%;
      border-radius: 5px;
      border: none;
      height: 40px;
      font-size: 1.3rem;
      padding-left: 1rem;
      &::placeholder {
        font-size: 1.3rem;
        padding-left: .2rem;
      }
    }
    .button-row {
      margin-top: 1rem;
      display: flex;
      button {
        font-size: 1rem;
        color : white;
        background-color: transparent;
        border-radius: 5px;
        margin-right: 5px;
        padding: 5px;
        transition: .5s;
        &:hover {
          background-color: white;
          color : black;

        }
      }
    }
  }


}

img {
  border-radius: 10px;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


