*{
  box-sizing: border-box;
}

nav{
  position: absolute;
  top: 0;

  z-index: 10;
  width: 100%;
  menu{
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
      list-style: none;
      margin: 0 1rem;
    }
  }
  a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
  }
}
.icon {
  margin: 0 5px;
}
.img-container{
  position: relative;
  margin: 0;
  padding: 0;

  &:hover {
    img{
      filter: blur(4px) brightness(90%); 
    }
    .img-overlay{
      opacity: 1;
    }
    
  }
}

.img-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
  width: 100%;
  padding: .2rem 1rem;
  display: flex;
  justify-content: space-between;
  p {
    color: white;
    font-size: .9rem;
  }
}

.container {
  width: 1024px;
  margin: auto;
  padding: 0 1.5rem;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner {
  height: 600px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 10rem;
    
    .input-group {
      display: flex;

    input[type=text] {
      width: 100%;
      border-radius: 5px 0px 0px 5px;
      border: none;
      height: 50px;
      font-size: 1.3rem;
      padding: 10px;
      &::placeholder {
        font-size: 1.3rem;
        padding-left: .1rem;
      }
    }
    button[type=submit] {
      height: 50px;   
      background-color: white; 
      border: none;
      border-radius: 0px 5px 5px 0px;
    }
  }
    .button-row {
      margin-top: 1rem;
      display: flex;
      button {
        font-size: 1rem;
        color : white;
        background-color: transparent;
        border-radius: 5px;
        margin-right: 5px;
        padding: 10px;
        transition: .5s;
        border-color: white;
        border-width: thin;
        &:hover {
          background-color: white;
          color : black;

        }
      }
    }
  }
}

img {
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  object-fit: cover;


}

.gallery {
  column-count: 3;
  column-gap: 10px;
  transition: .5s;
  .img-square {
    margin: 0;
    padding: 0;
    // margin-top: 10px;
    // padding-top: 0;
    // margin-bottom: 0px;
    // padding-bottom: 0;
   }
}



.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 768px) {
  .gallery {
    column-count: 2;
  }
  .container {
    width: 100%;
  }

  .banner{
    height: 400px;
  }
  .overlay{
      .content {
        padding: 2rem;
        h1 {
          font-size: 2rem;
        }
        input[type=text] {
          width: 100%;
          height: 30px;
          font-size: 1rem;
          padding-left: .5rem;
          &::placeholder {
            font-size: 1rem;
            padding-left: 0;
          }
        }
      }
  }

}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .overlay{
    .content {
      padding: 4rem;
    }
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
